*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    min-height: 100%;
}
.main-cont{
    width: 100%;
    height: 100vh;
    background-color: rgb(176, 247, 223);
}
.small-nav{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
i{
    margin-right: 10px;
}
a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
}
.big-nav{
    display: none; 
}
.body-sec{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}
@media (min-width:768px) {

    .big-nav{
        background-color: black;
        color: white;
        height: 50px;
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
    }
    .small-nav{
        display: none;
    }
    .body-sec{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
}

